In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
match = pd.read_csv(r"D:\ipl win probability\2023\ipl_match_data_2008-2023.csv")
delivery = pd.read_csv(r"D:\ipl win probability\2023\ipl_ball_by_ball_data_2008-2023.csv", low_memory=False)

In [3]:
match.head()

,id,date,season,event_name,match_type,match_number,city,venue,team1,team2,...,team2players,toss_winner,toss_decision,winner,result,eliminator,wonBy,margin,method,player_of_match
0,335982,18-04-2008,2007/08,Indian Premier League,T20,1,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,...,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,NaN,runs,140.0,NaN,['BB McCullum']
1,335983,19-04-2008,2007/08,Indian Premier League,T20,2,Chandigarh,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,...,"['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",Chennai Super Kings,bat,Chennai Super Kings,NaN,NaN,runs,33.0,NaN,['MEK Hussey']
2,335984,19-04-2008,2007/08,Indian Premier League,T20,3,Delhi,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,...,"['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Rajasthan Royals,bat,Delhi Daredevils,NaN,NaN,wickets,9.0,NaN,['MF Maharoof']
3,335986,20-04-2008,2007/08,Indian Premier League,T20,4,Kolkata,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,...,"['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",Deccan Chargers,bat,Kolkata Knight Riders,NaN,NaN,wickets,5.0,NaN,['DJ Hussey']
4,335985,20-04-2008,2007/08,Indian Premier League,T20,5,Mumbai,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,...,"['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",Mumbai Indians,bat,Royal Challengers Bangalore,NaN,NaN,wickets,5.0,NaN,['MV Boucher']

In [4]:
match.columns

Index(['id', 'date', 'season', 'event_name', 'match_type', 'match_number',
       'city', 'venue', 'team1', 'team2', 'referee', 'reserve_umpire',
       'tv_umpire', 'umpire1', 'umpire2', 'team1players', 'team2players',
       'toss_winner', 'toss_decision', 'winner', 'result', 'eliminator',
       'wonBy', 'margin', 'method', 'player_of_match'],
      dtype='object')

In [5]:
delivery.columns

Index(['id', 'season', 'venue', 'batting_team', 'bowling_team', 'innings',
       'over', 'ball', 'is_super_over', 'batter', 'non_striker', 'bowler',
       'runs_off_bat', 'runs_from_extras', 'total_runs', 'is_wkt_delivery',
       'player_out', 'wkt_type', 'fielders_involved', 'byes', 'legbyes',
       'wides', 'noballs', 'penalty'],
      dtype='object')

In [6]:
pd.set_option('display.max_columns', None)

In [7]:
delivery.head()

,id,season,venue,batting_team,bowling_team,innings,over,ball,is_super_over,batter,non_striker,bowler,runs_off_bat,runs_from_extras,total_runs,is_wkt_delivery,player_out,wkt_type,fielders_involved,byes,legbyes,wides,noballs,penalty
0,335982,2007/08,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,1,0,SC Ganguly,BB McCullum,P Kumar,0,1,1,0,NaN,NaN,NaN,0,1,0,0,0
1,335982,2007/08,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,2,0,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0
2,335982,2007/08,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,3,0,BB McCullum,SC Ganguly,P Kumar,0,1,1,0,NaN,NaN,NaN,0,0,1,0,0
3,335982,2007/08,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,4,0,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0
4,335982,2007/08,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,5,0,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0

In [8]:
match.shape

(1024, 26)

In [9]:
delivery.shape

(243817, 24)

In [10]:
delivery.groupby(['id', 'innings']).sum()['total_runs']

id       innings
335982   1          222
         2           82
335983   1          240
         2          207
335984   1          129
                   ...
1370351  2          101
1370352  1          233
         2          171
1370353  1          214
         2          171
Name: total_runs, Length: 2075, dtype: int64

In [11]:
total_score_df = delivery.groupby(['id', 'innings']).sum()['total_runs'].reset_index()

In [12]:
total_score_df

           id  innings  total_runs
0      335982        1         222
1      335982        2          82
2      335983        1         240
3      335983        2         207
4      335984        1         129
...       ...      ...         ...
2070  1370351        2         101
2071  1370352        1         233
2072  1370352        2         171
2073  1370353        1         214
2074  1370353        2         171

[2075 rows x 3 columns]

## Now removing the 2nd innings score as we want to predict the win probability of current match scenario hence...

In [13]:
total_score_df = total_score_df[total_score_df['innings'] == 1]

In [14]:
total_score_df

           id  innings  total_runs
0      335982        1         222
2      335983        1         240
4      335984        1         129
6      335985        1         165
8      335986        1         110
...       ...      ...         ...
2065  1359544        1         197
2067  1370350        1         172
2069  1370351        1         182
2071  1370352        1         233
2073  1370353        1         214

[1024 rows x 3 columns]

## now merge this above data with the match dataset as we want now only match id and total runs in first ining

In [15]:
match_df = match.merge(total_score_df[['id','total_runs' ]],left_on ='id',right_on='id')

In [16]:
match_df.head()

,id,date,season,event_name,match_type,match_number,city,venue,team1,team2,referee,reserve_umpire,tv_umpire,umpire1,umpire2,team1players,team2players,toss_winner,toss_decision,winner,result,eliminator,wonBy,margin,method,player_of_match,total_runs
0,335982,18-04-2008,2007/08,Indian Premier League,T20,1,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,['J Srinath'],['VN Kulkarni'],['AM Saheba'],Asad Rauf,RE Koertzen,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,NaN,runs,140.0,NaN,['BB McCullum'],222
1,335983,19-04-2008,2007/08,Indian Premier League,T20,2,Chandigarh,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,['S Venkataraghavan'],['MSS Ranawat'],['RB Tiffin'],MR Benson,SL Shastri,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",Chennai Super Kings,bat,Chennai Super Kings,NaN,NaN,runs,33.0,NaN,['MEK Hussey'],240
2,335984,19-04-2008,2007/08,Indian Premier League,T20,3,Delhi,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,['GR Viswanath'],NaN,['IL Howell'],Aleem Dar,GA Pratapkumar,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Rajasthan Royals,bat,Delhi Daredevils,NaN,NaN,wickets,9.0,NaN,['MF Maharoof'],129
3,335986,20-04-2008,2007/08,Indian Premier League,T20,4,Kolkata,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,['FM Engineer'],['F Gomes'],['Asad Rauf'],BF Bowden,K Hariharan,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",Deccan Chargers,bat,Kolkata Knight Riders,NaN,NaN,wickets,5.0,NaN,['DJ Hussey'],110
4,335985,20-04-2008,2007/08,Indian Premier League,T20,5,Mumbai,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,['J Srinath'],['SN Bandekar'],['AV Jayaprakash'],SJ Davis,DJ Harper,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",Mumbai Indians,bat,Royal Challengers Bangalore,NaN,NaN,wickets,5.0,NaN,['MV Boucher'],165

## Data cleaning

In [17]:
match_df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Kolkata Knight Riders', 'Mumbai Indians',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans'], dtype=object)

In [18]:
teams = ['Rajasthan Royals', 'Royal Challengers Bangalore','Chennai Super Kings','Kolkata Knight Riders',
         'Mumbai Indians', 'Kings XI Punjab', 'Delhi Capitals', 'Sunrisers Hyderabad', 'Lucknow Super Giants',
         'Gujarat Titans']

In [19]:
teams.sort()

In [20]:
teams

['Chennai Super Kings',
 'Delhi Capitals',
 'Gujarat Titans',
 'Kings XI Punjab',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

In [21]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')


match_df['team1'] = match_df['team1'].str.replace('Kings XI Punjab','Punjab Kings')
match_df['team2'] = match_df['team2'].str.replace('Kings XI Punjab','Punjab Kings')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [22]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [23]:
match_df.shape

(692, 27)

In [24]:
match_df = match_df.drop(columns=['method'])

In [25]:
match_df

,id,date,season,event_name,match_type,match_number,city,venue,team1,team2,referee,reserve_umpire,tv_umpire,umpire1,umpire2,team1players,team2players,toss_winner,toss_decision,winner,result,eliminator,wonBy,margin,player_of_match,total_runs
0,335982,18-04-2008,2007/08,Indian Premier League,T20,1,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,['J Srinath'],['VN Kulkarni'],['AM Saheba'],Asad Rauf,RE Koertzen,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Royal Challengers Bangalore,field,Kolkata Knight Riders,NaN,NaN,runs,140.0,['BB McCullum'],222
2,335984,19-04-2008,2007/08,Indian Premier League,T20,3,Delhi,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,['GR Viswanath'],NaN,['IL Howell'],Aleem Dar,GA Pratapkumar,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Rajasthan Royals,bat,Delhi Daredevils,NaN,NaN,wickets,9.0,['MF Maharoof'],129
3,335986,20-04-2008,2007/08,Indian Premier League,T20,4,Kolkata,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,['FM Engineer'],['F Gomes'],['Asad Rauf'],BF Bowden,K Hariharan,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",Deccan Chargers,bat,Kolkata Knight Riders,NaN,NaN,wickets,5.0,['DJ Hussey'],110
4,335985,20-04-2008,2007/08,Indian Premier League,T20,5,Mumbai,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,['J Srinath'],['SN Bandekar'],['AV Jayaprakash'],SJ Davis,DJ Harper,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",Mumbai Indians,bat,Royal Challengers Bangalore,NaN,NaN,wickets,5.0,['MV Boucher'],165
6,335988,22-04-2008,2007/08,Indian Premier League,T20,7,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Delhi Capitals,['Talat Ali'],['C Shamshuddin'],['MR Benson'],IL Howell,AM Saheba,"['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...","['G Gambhir', 'V Sehwag', 'S Dhawan', 'Shoaib ...",Deccan Chargers,bat,Delhi Daredevils,NaN,NaN,wickets,9.0,['V Sehwag'],142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,1359544,21-05-2023,2023,Indian Premier League,T20,70,Bengaluru,"M Chinnaswamy Stadium, Bengaluru",Royal Challengers Bangalore,Gujarat Titans,['J Srinath'],['VM Dhokre'],['Tapan Sharma'],Nitin Menon,VK Sharma,"['H Sharma', 'V Kohli', 'F du Plessis', 'GJ Ma...","['Yash Dayal', 'WP Saha', 'Shubman Gill', 'V S...",Gujarat Titans,field,Gujarat Titans,NaN,NaN,wickets,6.0,['Shubman Gill'],197
1020,1370350,23-05-2023,2023,Indian Premier League,T20,Qualifier 1,Chennai,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai Super Kings,Gujarat Titans,['M Nayyar'],['VK Sharma'],['BNJ Oxenford'],AK Chaudhary,CB Gaffaney,"['M Pathirana', 'RD Gaikwad', 'DP Conway', 'S ...","['MM Sharma', 'WP Saha', 'Shubman Gill', 'HH P...",Gujarat Titans,field,Chennai Super Kings,NaN,NaN,runs,15.0,['RD Gaikwad'],172
1021,1370351,24-05-2023,2023,Indian Premier League,T20,Eliminator,Chennai,"MA Chidambaram Stadium, Chepauk, Chennai",Mumbai Indians,Lucknow Super Giants,['V Narayan Kutty'],['AK Chaudhary'],['CB Gaffaney'],BNJ Oxenford,VK Sharma,"['Ishan Kishan', 'RG Sharma', 'C Green', 'SA Y...","['Yash Thakur', 'KR Mayers', 'PN Mankad', 'KH ...",Mumbai Indians,bat,Mumbai Indians,NaN,NaN,runs,81.0,['Akash Madhwal'],182
1022,1370352,26-05-2023,2023,Indian Premier League,T20,Qualifier 2,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Mumbai Indians,['J Srinath'],['KN Ananthapadmanabhan'],['J Madanagopal'],Nitin Menon,RJ Tucker,"['J Little', 'WP Saha', 'Shubman Gill', 'B Sai...","['Ishan Kishan', 'Akash Madhwal', 'RG Sharma',...",Mumbai Indians,field,Gujarat Titans,NaN,NaN,runs,62.0,['Shubman Gill'],233
1023,1370353,29-05-2023,2023,Indian Premier League,T20,Final,Ahmedabad,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Chennai Super Kings,['J Srinath'],['J Madanagopal'],['KN Ananthapadmanabhan'],Nitin Menon,RJ Tucker,"['WP Saha', 'Shubman Gill', 'B Sai Sudharsan',...","['RD Gaikwad', 'DP Conway', 'S Dube', 'AM Raha...",Chennai Super Kings,field,Chennai Super Kings,NaN,NaN,wickets,5.0,['DP Conway'],214

In [26]:
match_df = match_df[['id', 'city', 'winner','total_runs' ]]

In [27]:
delivery_df = match_df.merge(delivery, on='id' )

In [28]:
delivery_df= delivery_df[delivery_df['innings'] == 2]

In [29]:
delivery_df.shape

(79599, 27)

In [30]:
delivery_df.groupby('id')['total_runs_y'].cumsum()

124         1
125         2
126         2
127         3
128         4
         ...
165014    159
165015    160
165016    161
165017    167
165018    171
Name: total_runs_y, Length: 79599, dtype: int64

In [31]:
#delivery_df['total_runs'] = pd.to_numeric(delivery_df['total_run_y'], errors='coerce')

## Finding the Current score, runsleft, ballsleft

In [32]:
delivery_df['current_score'] = delivery_df.groupby('id')['total_runs_y'].cumsum()

In [33]:
delivery_df['runs_left'] = delivery_df['total_runs_x'] - delivery_df['current_score']

In [34]:
delivery_df['balls_left'] = 120 - (delivery_df['over']*6 + delivery_df['ball'])

## To find how many wikcets left

In [35]:
delivery_df.head()

,id,city,winner,total_runs_x,season,venue,batting_team,bowling_team,innings,over,ball,is_super_over,batter,non_striker,bowler,runs_off_bat,runs_from_extras,total_runs_y,is_wkt_delivery,player_out,wkt_type,fielders_involved,byes,legbyes,wides,noballs,penalty,current_score,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,222,2007/08,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,1,0,R Dravid,W Jaffer,AB Dinda,1,0,1,0,NaN,NaN,NaN,0,0,0,0,0,1,221,119
125,335982,Bangalore,Kolkata Knight Riders,222,2007/08,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,2,0,W Jaffer,R Dravid,AB Dinda,0,1,1,0,NaN,NaN,NaN,0,0,1,0,0,2,220,118
126,335982,Bangalore,Kolkata Knight Riders,222,2007/08,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,3,0,W Jaffer,R Dravid,AB Dinda,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,2,220,117
127,335982,Bangalore,Kolkata Knight Riders,222,2007/08,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,4,0,W Jaffer,R Dravid,AB Dinda,1,0,1,0,NaN,NaN,NaN,0,0,0,0,0,3,219,116
128,335982,Bangalore,Kolkata Knight Riders,222,2007/08,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,5,0,R Dravid,W Jaffer,AB Dinda,1,0,1,0,NaN,NaN,NaN,0,0,0,0,0,4,218,115

In [36]:
delivery_df['player_out'] = delivery_df['player_out'].fillna("0")

In [37]:
delivery_df['player_out'] = delivery_df['player_out'].apply(lambda x:x if x == "0" else"1" )

In [38]:
delivery_df['player_out'] = delivery_df['player_out'].astype('int') 
wickets = delivery_df.groupby('id')['player_out'].cumsum()

delivery_df['wickets'] = 10 - wickets

In [39]:
delivery_df.tail()

,id,city,winner,total_runs_x,season,venue,batting_team,bowling_team,innings,over,ball,is_super_over,batter,non_striker,bowler,runs_off_bat,runs_from_extras,total_runs_y,is_wkt_delivery,player_out,wkt_type,fielders_involved,byes,legbyes,wides,noballs,penalty,current_score,runs_left,balls_left,wickets
165014,1370353,Ahmedabad,Chennai Super Kings,214,2023,"Narendra Modi Stadium, Ahmedabad",Chennai Super Kings,Gujarat Titans,2,14,2,0,S Dube,RA Jadeja,MM Sharma,1,0,1,0,0,NaN,NaN,0,0,0,0,0,159,55,34,5
165015,1370353,Ahmedabad,Chennai Super Kings,214,2023,"Narendra Modi Stadium, Ahmedabad",Chennai Super Kings,Gujarat Titans,2,14,3,0,RA Jadeja,S Dube,MM Sharma,1,0,1,0,0,NaN,NaN,0,0,0,0,0,160,54,33,5
165016,1370353,Ahmedabad,Chennai Super Kings,214,2023,"Narendra Modi Stadium, Ahmedabad",Chennai Super Kings,Gujarat Titans,2,14,4,0,S Dube,RA Jadeja,MM Sharma,1,0,1,0,0,NaN,NaN,0,0,0,0,0,161,53,32,5
165017,1370353,Ahmedabad,Chennai Super Kings,214,2023,"Narendra Modi Stadium, Ahmedabad",Chennai Super Kings,Gujarat Titans,2,14,5,0,RA Jadeja,S Dube,MM Sharma,6,0,6,0,0,NaN,NaN,0,0,0,0,0,167,47,31,5
165018,1370353,Ahmedabad,Chennai Super Kings,214,2023,"Narendra Modi Stadium, Ahmedabad",Chennai Super Kings,Gujarat Titans,2,14,6,0,RA Jadeja,S Dube,MM Sharma,4,0,4,0,0,NaN,NaN,0,0,0,0,0,171,43,30,5

## for current run rate = runs/ overs

In [40]:
delivery_df['crr'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])

In [41]:
delivery_df

,id,city,winner,total_runs_x,season,venue,batting_team,bowling_team,innings,over,ball,is_super_over,batter,non_striker,bowler,runs_off_bat,runs_from_extras,total_runs_y,is_wkt_delivery,player_out,wkt_type,fielders_involved,byes,legbyes,wides,noballs,penalty,current_score,runs_left,balls_left,wickets,crr
124,335982,Bangalore,Kolkata Knight Riders,222,2007/08,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,1,0,R Dravid,W Jaffer,AB Dinda,1,0,1,0,0,NaN,NaN,0,0,0,0,0,1,221,119,10,6.000000
125,335982,Bangalore,Kolkata Knight Riders,222,2007/08,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,2,0,W Jaffer,R Dravid,AB Dinda,0,1,1,0,0,NaN,NaN,0,0,1,0,0,2,220,118,10,6.000000
126,335982,Bangalore,Kolkata Knight Riders,222,2007/08,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,3,0,W Jaffer,R Dravid,AB Dinda,0,0,0,0,0,NaN,NaN,0,0,0,0,0,2,220,117,10,4.000000
127,335982,Bangalore,Kolkata Knight Riders,222,2007/08,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,4,0,W Jaffer,R Dravid,AB Dinda,1,0,1,0,0,NaN,NaN,0,0,0,0,0,3,219,116,10,4.500000
128,335982,Bangalore,Kolkata Knight Riders,222,2007/08,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,5,0,R Dravid,W Jaffer,AB Dinda,1,0,1,0,0,NaN,NaN,0,0,0,0,0,4,218,115,10,4.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165014,1370353,Ahmedabad,Chennai Super Kings,214,2023,"Narendra Modi Stadium, Ahmedabad",Chennai Super Kings,Gujarat Titans,2,14,2,0,S Dube,RA Jadeja,MM Sharma,1,0,1,0,0,NaN,NaN,0,0,0,0,0,159,55,34,5,11.093023
165015,1370353,Ahmedabad,Chennai Super Kings,214,2023,"Narendra Modi Stadium, Ahmedabad",Chennai Super Kings,Gujarat Titans,2,14,3,0,RA Jadeja,S Dube,MM Sharma,1,0,1,0,0,NaN,NaN,0,0,0,0,0,160,54,33,5,11.034483
165016,1370353,Ahmedabad,Chennai Super Kings,214,2023,"Narendra Modi Stadium, Ahmedabad",Chennai Super Kings,Gujarat Titans,2,14,4,0,S Dube,RA Jadeja,MM Sharma,1,0,1,0,0,NaN,NaN,0,0,0,0,0,161,53,32,5,10.977273
165017,1370353,Ahmedabad,Chennai Super Kings,214,2023,"Narendra Modi Stadium, Ahmedabad",Chennai Super Kings,Gujarat Titans,2,14,5,0,RA Jadeja,S Dube,MM Sharma,6,0,6,0,0,NaN,NaN,0,0,0,0,0,167,47,31,5,11.258427
165018,1370353,Ahmedabad,Chennai Super Kings,214,2023,"Narendra Modi Stadium, Ahmedabad",Chennai Super Kings,Gujarat Titans,2,14,6,0,RA Jadeja,S Dube,MM Sharma,4,0,4,0,0,NaN,NaN,0,0,0,0,0,171,43,30,5,11.400000

## For required run rate  = (runsleft*6) /balls left

In [42]:
delivery_df['rrr'] = (delivery_df['runs_left']*6)/delivery_df['balls_left']

In [43]:
delivery_df.head(2)

,id,city,winner,total_runs_x,season,venue,batting_team,bowling_team,innings,over,ball,is_super_over,batter,non_striker,bowler,runs_off_bat,runs_from_extras,total_runs_y,is_wkt_delivery,player_out,wkt_type,fielders_involved,byes,legbyes,wides,noballs,penalty,current_score,runs_left,balls_left,wickets,crr,rrr
124,335982,Bangalore,Kolkata Knight Riders,222,2007/08,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,1,0,R Dravid,W Jaffer,AB Dinda,1,0,1,0,0,NaN,NaN,0,0,0,0,0,1,221,119,10,6.0,11.142857
125,335982,Bangalore,Kolkata Knight Riders,222,2007/08,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,2,0,W Jaffer,R Dravid,AB Dinda,0,1,1,0,0,NaN,NaN,0,0,1,0,0,2,220,118,10,6.0,11.186441

## to convert winning team result into 0 or 1

In [44]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [45]:
delivery_df['result'] = delivery_df.apply(result, axis=1)

In [46]:
final_df = delivery_df[['batting_team', 'bowling_team', 'city', 'runs_left', 'balls_left', 'wickets', 'total_runs_x', 'crr', 'rrr', 'result' ]]

In [47]:
final_df

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,119,10,222,6.000000,11.142857,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,118,10,222,6.000000,11.186441,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,117,10,222,4.000000,11.282051,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,116,10,222,4.500000,11.327586,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,218,115,10,222,4.800000,11.373913,0
...,...,...,...,...,...,...,...,...,...,...
165014,Chennai Super Kings,Gujarat Titans,Ahmedabad,55,34,5,214,11.093023,9.705882,1
165015,Chennai Super Kings,Gujarat Titans,Ahmedabad,54,33,5,214,11.034483,9.818182,1
165016,Chennai Super Kings,Gujarat Titans,Ahmedabad,53,32,5,214,10.977273,9.937500,1
165017,Chennai Super Kings,Gujarat Titans,Ahmedabad,47,31,5,214,11.258427,9.096774,1
165018,Chennai Super Kings,Gujarat Titans,Ahmedabad,43,30,5,214,11.400000,8.600000,1

## Shuffling the dataset for not getting baised results

In [48]:
final_df = final_df.sample(final_df.shape[0])

In [49]:
final_df.sample()

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
53843,Delhi Daredevils,Chennai Super Kings,Delhi,127,73,6,169,5.361702,10.438356,0

## Dropping the column where values are nan

In [50]:
final_df.dropna(inplace= True)

## Now remove the rows where balls left = 0 because due to this rows here required run rate is showing infinite
## i.e. when balls are 0 and still team requires to score run then it shows infinite rrr

In [51]:
final_df = final_df[final_df['balls_left'] !=0]

In [52]:
final_df.isnull().sum()

batting_team    0
bowling_team    0
city            0
runs_left       0
balls_left      0
wickets         0
total_runs_x    0
crr             0
rrr             0
result          0
dtype: int64

## Model building

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
X = final_df.iloc[:, :-1]
y = final_df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [55]:
X_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr
148362,Lucknow Super Giants,Rajasthan Royals,Mumbai,58,17,3,178,6.990291,20.470588
131617,Chennai Super Kings,Kolkata Knight Riders,Abu Dhabi,162,110,10,171,5.400000,8.836364
48889,Royal Challengers Bangalore,Deccan Chargers,Hyderabad,102,102,9,132,10.000000,6.000000
69880,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata,184,100,9,195,3.300000,11.040000
150810,Gujarat Titans,Chennai Super Kings,Ahmedabad,40,31,7,178,9.303371,7.741935
...,...,...,...,...,...,...,...,...,...
147,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,206,98,8,222,4.363636,12.612245
76706,Rajasthan Royals,Mumbai Indians,Mumbai,82,49,8,187,8.873239,10.040816
127327,Delhi Capitals,Mumbai Indians,Chennai,98,84,9,137,6.500000,7.000000
109189,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata,52,15,6,213,9.200000,20.800000
139100,Sunrisers Hyderabad,Chennai Super Kings,Mumbai,148,109,10,154,3.272727,8.146789

In [61]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [62]:
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [69]:
pipe = Pipeline(steps=[
    ('step1', trf),     # StandardScaler as the first step
    ('step2', LogisticRegression(solver= 'liblinear')),
    
    
    
])

In [70]:
pipe.fit(X_train, y_train)

C:\Users\Pratik Bhoodatt\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [71]:
y_pred = pipe.predict(X_test)

In [72]:
accuracy_score(y_test, y_pred)

0.8164028584785948

## Here when we use the randomforest it gives 99% which is overfitiing but logistic regression gives best fit results

In [75]:
pipe.predict_proba(X_test)[99]

array([0.79141922, 0.20858078])

# Deployment

In [76]:
teams

['Chennai Super Kings',
 'Delhi Capitals',
 'Gujarat Titans',
 'Kings XI Punjab',
 'Kolkata Knight Riders',
 'Lucknow Super Giants',
 'Mumbai Indians',
 'Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

In [78]:
delivery_df['city'].unique()

array(['Bangalore', 'Delhi', 'Kolkata', 'Mumbai', 'Hyderabad', 'Chennai',
       'Jaipur', 'Cape Town', 'Port Elizabeth', 'Durban', 'Centurion',
       'East London', 'Johannesburg', 'Kimberley', 'Bloemfontein',
       'Ahmedabad', 'Cuttack', 'Nagpur', 'Visakhapatnam', 'Pune',
       'Raipur', 'Ranchi', 'Abu Dhabi', nan, 'Bengaluru', 'Dubai',
       'Sharjah', 'Navi Mumbai', 'Lucknow', 'Guwahati'], dtype=object)

In [79]:
import pickle